{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    {
      "files": "apps/web/**",
      "options": { "tailwindStylesheet": "./apps/web/src/routes/layout.css" }
    },
    {
      "files": "packages/ui-components/**",
      "options": {
        "tailwindStylesheet": "./packages/ui-components/src/routes/layout.css"
      }
    }
  ]
}
